<tool name="ADOC">  <version>6.8.3</version>  <date>2020-01-03</date>  <container>#.ADOC</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script>OS</script>    <script development="true">Tester2</script>    <script>MarkAPL</script>  </needs>  <admin>1</admin>  <autoload>1</autoload>  <buildid>67</buildid></tool>