<tool name="ADOC">  <version>6.6.1</version>  <date>2018-08-11</date>  <container>#._ADOC</container>  <files>    <file>ADOC.dyalog</file>  </files>  <needs>    <script library="APLTree">APLTreeUtils</script>    <script library="APLTree">FilesAndDirs</script>    <script library="APLTree">OS</script>    <script library="APLTree">MarkAPL</script>    <script library="APLTree">Tester</script>    <script library="APLTree">MarkAPL</script>  </needs>  <scriptOnly>0</scriptOnly>  <wsid>Development</wsid>  <autoload>1</autoload></tool>